{% extends 'Accounting_button/base.html' %}

{% block title %}Executor Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome, {{ request.user.first_name }}!</h1>
    <p>This is the executor dashboard.</p>
    
    <div class="d-flex flex-wrap">
        <a href="{% url 'client_list' %}" class="btn btn-warning mb-3 mr-2">Список клиентов</a>
        <!-- Кнопка для перехода на справочник групп видов работ -->
        <a href="{% url 'worktypegroup_list' %}" class="btn btn-warning mb-3 mr-2">Группы видов работ</a>
        <!-- Кнопка для перехода на справочник видов работ -->
        <a href="{% url 'worktype_list' %}" class="btn btn-warning mb-3 mr-2">Справочник видов работ</a>
    </div>
</div>
{% endblock %}
