{% extends 'Accounting_button/base.html' %}

{% block title %}Position Detail{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Приветствие пользователя -->
    <div class="alert alert-info" role="alert">
        Welcome, {{ user.first_name }} {{ user.last_name }}!
    </div>
    
    <h2>Position Detail</h2>
    <dl class="row">
        <dt class="col-sm-3">Position</dt>
        <dd class="col-sm-9">{{ object.position }}</dd>

        <dt class="col-sm-3">Comments</dt>
        <dd class="col-sm-9">{{ object.comments }}</dd>
    </dl>
    <a href="{% url 'positions_list' %}" class="btn btn-primary">Back to Positions</a>
</div>
{% endblock %}
