{% extends 'Accounting_button/base.html' %}

{% block title %}Positions{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Приветствие пользователя -->
    <div class="alert alert-info" role="alert">
        Welcome, {{ user.first_name }} {{ user.last_name }}!
    </div>
    
    <h2>Positions</h2>
    <ul class="list-group">
        {% for position in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'position_detail' position.pk %}">{{ position.position }}</a>
                    <p>{{ position.comments }}</p>
                </div>
                {% if user.user_type == 'owner' %}
                    <span class="btn-group">
                        <a href="{% url 'position_edit' position.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                        <a href="{% url 'position_delete' position.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.user_type == 'owner' %}
        <a href="{% url 'position_create' %}" class="btn btn-primary mt-3">Add Position</a>
    {% endif %}
</div>
{% endblock %}
