{% extends 'Accounting_button/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Приветствие пользователя -->
    <div class="alert alert-info" role="alert">
        Welcome, {{ user.first_name }} {{ user.last_name }}!
    </div>

    <h2>Are you sure you want to delete "{{ object }}"?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a href="{% url 'positions_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
