{% extends 'Accounting_button/base.html' %}

{% block title %}Staff Schedule{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-info" role="alert">
        Welcome, {{ user.first_name }} {{ user.last_name }}!
    </div>
    
    <h2>Staff Schedules</h2>
    <ul class="list-group">
        {% for schedule in object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'staff_schedule_detail' schedule.pk %}">{{ schedule.position }} - {{ schedule.quantity }}</a>
                    <p>Working Time: {{ schedule.total_working_time }} minutes</p>
                    <p>Salary Fund: {{ schedule.total_salary_fund }} руб.</p>
                </div>
                {% if user.user_type == 'owner' %}
                    <span class="btn-group">
                        <a href="{% url 'staff_schedule_edit' schedule.pk %}" class="btn btn-sm btn-secondary">Edit</a>
                        <a href="{% url 'staff_schedule_delete' schedule.pk %}" class="btn btn-sm btn-danger">Delete</a>
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="mt-4">
        <h3>Total Indicators</h3>
        <p>Total Quantity: {{ total_quantity }} persons</p>
        <p>Total Working Time: {{ total_working_time_hours }} hours ({{ total_working_time_minutes }} minutes)</p>
        <p>Total Salary Fund: {{ total_salary_fund }} руб.</p>
    </div>
    {% if user.user_type == 'owner' %}
        <a href="{% url 'staff_schedule_create' %}" class="btn btn-primary mt-3">Add Staff Schedule</a>
    {% endif %}
</div>
{% endblock %}
